@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root { height:100%; }
body {
  @apply bg-page text-text font-sans;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
